body{
    background-color: aqua;
}

div{
    background-color: cornflowerblue;
    border: 1px solid blue;                  /* bordes*/
    padding: 20px;
    width: 60%;
    margin:auto; 
}

legend{
    background-color: cadetblue;
    padding: 5px;
    border-top: 15px; 
    font-weight: bold;
}

img{
    border-style: 50%;
    margin-right: 30px;
    margin-top: 15px;
    float: left;
}

span{
    font-weight: bold;
}